#vid {
    object-fit: contain;
    width: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    background: black;
}

#playButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 32px;
}

div#powerButton {
    position: relative;
    color: darkred;
}

div.wButton {
    display: table-cell;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;
    color: white;
    white-space: nowrap;
}

div.wButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

div#buttonPanel {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: table;
    border-collapse: separate;
    border-spacing: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 10;
}

div#buttonPanel>div {
    display: table-row;
}

div#info {
    background-color: rgba(255, 255, 255, 0.7);;
    z-index: 100;
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

div#wifiInfo {
    position: fixed;
    top: 10px;
    right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: white;
    min-width: 200px;
    
    padding: 5px;
    color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}
div#wifiInfo > div {
    display: table-row;
}
div#wifiInfo > div > div {
    display: table-cell;
}

div#ttsSection {
    border: 1px solid white;
    position: fixed;
    bottom: 200px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: white;
    min-width: 200px;
    
    padding: 5px;
    color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

input#ttsInput {
    display: block;
    margin : 0 auto;
    width: 95%;
    font-size: 14pt;
    padding: 5px;
}

div#volumeSlider {
    width: 200px;
}

div.noHover:hover {
    cursor: auto;
    background-color: rgba(255, 255, 255, 0.2);
}

div#volumeSlider > i {
    font-size: 12pt;
    color: gray;
}

div#volumeSlider input {
    position: relative;
    top: 3px;
}

div#buttonPanel > div > div > i {
    line-height: 32px;
}

#deviceSelector {
    max-width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

#joystickContainer {
    width		: 100vw;
    height		: 100vh;
    overflow	: hidden;
    padding		: 0;
    margin		: 0;
    -webkit-user-select	: none;
    -moz-user-select	: none;
    z-index: 5;
}